body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

.shop {
    background: #fff;
}

.row {
    padding: 80px;   
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.content .title1{
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
    opacity: 80%;
    animation: david 10s linear infinite;
}

.content .title2{
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
    opacity: 80%;
}

.content h1 span{
    color: #111;
    opacity: 98%;
    animation: redmond 10s linear infinite;
}

.Section_top {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(images/snowbarn1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 40s linear infinite; /* Adjusted overall duration */
}

@keyframes change {
    0% {
        background-image: url(images/snowbarn1.jpg);
    }
    15% {
        background-image: url(images/shack1.jpg);
    }
    25% {
        background-image: url(images/shack1.jpg);
    }
    30% {
        background-image: url(images/tombstone1.jpg);
    }
    40% {
        background-image: url(images/tombstone1.jpg);
    }
    45% {
        background-image: url(images/redroof1.jpg);
    }
    55% {
        background-image: url(images/redroof1.jpg);
    }
    60% {
        background-image: url(images/curvedroof1.jpg);
    }
    70% {
        background-image: url(images/curvedroof1.jpg);
    }
    75% {
        background-image: url(images/redbarn1.jpg);
    }
    95% {
        background-image: url(images/redbarn1.jpg);
    }
    100% {
        background-image: url(images/snowbarn1.jpg);
    }
}

@keyframes redmond {
    50% {
        color: #fff;
        text-shadow: 0 0 0px #fff;
    }
} 

@keyframes david {
    50% {
        color: #111;
        text-shadow: 0 0 0px #111s;
    }
} 

